.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 10fr 20fr 12fr;
  grid-template-rows: 1fr;
}

.leftSection {
  grid-row: 1/2;
  grid-column: 1/2;
  border-right: 1px solid #3C424B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2vmin 4vmin;
}

.logo {
  transform: rotate(0.5turn);
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.userSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.userImg {
  border-radius: 50%;
}

.userInfos {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 60px;
}

.firstname {
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.username {
  font-size: 16px;
  font-weight: 600;
  color: #787F8A;
}

.btnLogout {
  border: 2px solid #3C424B;
  border-radius: 40px;
  padding: 8px 25px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.middleSection {
  grid-row: 1/2;
  grid-column: 2/3;
  border: 1px solid #3C424B;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.addSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
  width: 100%;
}

.addSection h1 {
  width: 100%;
  margin-left: 100px;
}

.inputAdd {
  width: 70%;
  font-size: 30px;
  border-bottom: 2px solid #3C424B;
  background-color: transparent;
  color: white;
}

.countAndAdd {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
  margin-bottom: 50px;
}

.rightSection {
  grid-row: 1/2;
  grid-column: 3/4;
  border-left: 1px solid #3C424B;
}